
:root {
    --primary-color: #363636;
    --secondary-color: #282d3c;
    --accent1-color: #d9bc90;
    --accent2-color: #e5e5e5;
    margin: 15px var(--secondary-color);
    display: flex;
    justify-content: center;
    
    
}
.roboto-bold {
    font-family: impact, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.nunito-sans-uniquifier {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  
.quicksand-uniquifier {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
  }
  header {
        
        display: grid;
        grid-template-columns: 10% 30% 60%;
        grid-template-rows: 100%;
        grid-template-areas: "logo" "title title" "nav nav nav";
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        color: var(--accent1-color);
        max-width: 1400px;
        font-family: 'Nunito Sans', sans-serif;
        height: 150px;
        border: 20px solid var(--secondary-color);
        border-radius: 20px;
  }
    
               
    header img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin-bottom: 10px;
            align-items: center;
    }
    header h1 { 
            width: 100%;
            text-align: left;
            font-size: 2rem;
            margin-left: 2rem;
            

           
        }
        
        header nav {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;
            width: 700px;
            font-size: x-large;
            
    }
  main {
    max-width: 1400px;
    border: 20px solid var(--secondary-color);
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 20px;
}
.contact_us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 10% 10% 10% 10%
    10% 40% ;
    color: var(--accent2-color);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    height: 60rem;
}
.contact_us img{
    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 6;
    width: auto;
    height: 60rem;
}
.contact_us img:nth-child(2) {
    grid-column: 3;
    grid-row: 6;
}
.contact_us h2 {
    justify-self: center;
    grid-column:2 ;
    grid-row: 1;
    font-size: 2rem;
    color: var(--accent1-color);
}
.contact_us p:nth-child(3) {
   justify-self: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 1.5rem;
    color: var(--accent1-color);
    width:40rem;
    height: 10rem;
}
.contact_us p:nth-child(4) {
   justify-self: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 1.5rem;
    color: var(--accent1-color);
    width:60rem;
    
}
.contact_us p:nth-child(5) {
   justify-self: center;
    grid-column: 2;
    grid-row: 3;
    font-size: 1.5rem;
    color: var(--accent1-color);
    
}
.contact_us p:nth-child(6) {
    justify-self: center;
    grid-column: 2;
    grid-row: 4;
    font-size: 1.5rem;
    color: var(--accent1-color);
    
}
.contact_us p:nth-child(7) {
    justify-self: center;
    grid-column: 2;
    grid-row: 5;
    font-size: 1.5rem;
    color: var(--accent1-color);
    
}
.contact_us p:nth-child(8) {
    justify-self: center;
    grid-column: 2;
    grid-row: 6;
    font-size: 1.5rem;
    color: var(--accent1-color);
    
}
.contact_us iframe {
    justify-self:center;
    align-self: center;
    grid-column: 2;
    grid-row: 7;
    width: 40rem;
    height: 100%;
    border-radius: 20px;
    border: 3px solid var(--primary-color); /* Added contrasting border */
}
.team {
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:10% 30% 60%;
    
}
.team h2 {
    display: flex;
    justify-self: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1;
    font-size: 2rem;
    color: var(--accent1-color);
    
}
.team  p {
    justify-self: center;
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 1.5rem;
    color: var(--accent1-color);
    text-align: center;
    width: 60rem;
    
}
 
.team figure {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
}
.team figcaption {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    font-size: 1rem;
    width: 150px;
    height: auto;    
}
.team img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--accent2-color);
    box-shadow: 5px 5px 5px var(--secondary-color);
}
.team img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--accent2-color);
    box-shadow: 5px 5px 5px var(--secondary-color);
}
.team img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--accent2-color);
    box-shadow: 5px 5px 5px var(--secondary-color);
}

.question {
    max-width: 1200px;
    margin-top:5rem; 
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border: 5px solid var(--accent2-color);
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
}
.question section {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}
.question-item {
    
    margin-bottom: 20px;
    margin-top: 20px;
}
.question fieldset {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.question legend {
    font-size: 1rem;    
    margin-top: 10px;
    font-size: 20px;
}
.question text {
    display: flex;
    text-align: right;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;   
}
.question input, select, textarea {
    padding: 10px;
    font-size: 1.1rem;
}
.question input#subscribe {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
}
.question input[type ="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    
}
.question textarea {
    display: flex;    
    justify-self: center;
    width: 95%;
    height: 100px;
    resize: none;
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 10px;
}
.question button {
    background-color:var(--accent2-color); 
    color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 20px;
    justify-self: center;
}
.question 
button:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}
footer {
    display: grid;
    grid-template-columns:85% 5% 5% 5%;
    grid-template-rows: 100%;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
    align-self: center;
    margin-top: 20px;
    text-align: center;
    width: 1400px;
    background-color: var(--primary-color);
    color:var(--accent1-color);
    border-radius: 20px;
    border: 20px solid var(--secondary-color);
}
footer p {
    grid-column: 1;
    grid-row: 1;
    display: flex;
   
}
footer a{
    grid-column: 2;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    
}
footer a{
    grid-column: 3;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    
    
}
footer a{
    grid-column: 4;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    }
nav {
    
    padding: 10px;
    color: var(--accent1-color);
}

nav a {
    color: var(--accent1-color);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}
