
:root {
    --primary-color: #363636;
    --secondary-color: #282d3c;
    --accent1-color: #d9bc90;
    --accent2-color: #e5e5e5;
    margin: 15px var(--secondary-color);
    display: flex;
    justify-content: center;
    
    
}
.roboto-bold {
    font-family: impact, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.nunito-sans-uniquifier {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  
.quicksand-uniquifier {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
  }
  header {
        
        display: grid;
        grid-template-columns: 10% 30% 60%;
        grid-template-rows: 100%;
        grid-template-areas: "logo" "title title" "nav nav nav";
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        color: var(--accent1-color);
        max-width: 1400px;
        font-family: 'Nunito Sans', sans-serif;
        height: 150px;
        border: 20px solid var(--secondary-color);
        border-radius: 20px;
  }
    
               
    header img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin-bottom: 10px;
            align-items: center;
    }
    header h1 { 
            width: 100%;
            text-align: left;
            font-size: 2rem;
            margin-left: 2rem;
            

           
        }
        
        header nav {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;
            width: 700px;
            font-size: x-large;
            
    }
  main {
    max-width: 1400px;
    border: 20px solid var(--secondary-color);
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 20px;
}
.hero {
    position: relative;
    color: var(--accent2-color);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    }
.hero img {
    width: 300px;
    float:right;
    height: auto;
    border: 1px solid var(--accent2-color);
    padding: 2px;
    box-shadow: 5px 5px 5px var(--secondary-color);
    margin: 5px;

}
.hero img:nth-child(2) {
    width: 300px;
    float: left;
    height: auto;
    border: 1px solid var(--accent2-color);
    padding: 2px;
    box-shadow: 5px 5px 5px var(--secondary-color);
    margin: 5px;
}
article {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 60% 20%;
    max-width: 1400px;
    justify-content: center;
    width: 1400px;
}
article h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 2rem;
    color: var(--accent1-color);
    
}
article p {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 1.5rem;
    color: var(--accent1-color);
    
}


article img {
   
    width: 200px;
    height: auto;
    grid-column: 3;
    grid-row: 2;   
    justify-self: center ;
    justify-content: center;
    align-items: center;
    
    border: 1px solid var(--accent2-color);
    padding: 2px;
    box-shadow: 5px 5px 5px var(--secondary-color);
    margin: 5px;
}
.h1{
    position: absolute;
    
  }
  .history {
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 30% 20% 30%;
    grid-template-rows: 20% 80%;
    max-width: 1400px;
    justify-content: center;
    width: 1400px;
      }
.history img {
    display: flex;
    justify-content: center;
    align-self:center;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: auto;
    border: 1px solid var(--accent2-color);
    padding: 2px;
    position: relative;
}

.history h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
    color: var(--accent1-color);
}
.history h2 {
    display: flex;
    justify-content: center;
    align-self: center; 
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--accent1-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.history h3 {
    display: flex;
    justify-content: center;
    align-self: center;
    grid-row: 2;
    grid-column: 3;
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--accent1-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.adventure {
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: 20% 60% 20%;
    max-width: 1400px;
    justify-content: center;
    width: 1400px;
    }
.adventure h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6;
    grid-row: 1;
    font-size: 2rem;
    color: var(--accent1-color);
    
}
.adventure figure { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-content:center;
    align-self: center;
    align-items: center;
    position: relative
   
  
    
    
}
.adventure img {
    grid-column: 2;
    grid-row: 2;
    width: auto;
    height:200px;
    
}
.adventure img {
    grid-column: 3;
    grid-row: 2;
    width: 2rem;
    height:auto;
    
}
.adventure img {
    grid-column: 4;
    grid-row: 2;
    width: 100px;
    height: auto;
  
    }
.adventure img {
    grid-column: 5;
    grid-row: 2;
    width: 100px;
    height: auto;
    
}
footer {
    display: grid;
    grid-template-columns:85% 5% 5% 5%;
    grid-template-rows: 100%;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
    align-self: center;
    margin-top: 20px;
    text-align: center;
    width: 1400px;
    background-color: var(--primary-color);
    color:var(--accent1-color);
    border-radius: 20px;
    border: 20px solid var(--secondary-color);
}
footer p {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    
    
    
}
footer a{
    grid-column: 2;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    
}
footer a{
    grid-column: 3;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    
    
}
footer a{
    grid-column: 4;
    grid-row: 1;
    text-decoration: underline;
    display: flex;
    align-items: center;
    }
nav {
    
    padding: 10px;
    color: var(--accent1-color);
}

nav a {
    color: var(--accent1-color);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}
